<%- include('partials/header') %>

    <%# background video%>
    <video autoplay loop muted>
      <source src="images/Lonely-Blue.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <%# header stuff%>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="padding-left:0px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img id="logo" src="http://www.jfbclick.com/images/10-G11-Killerton/IMG_0592-sq.jpg" width="50px"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-right: 0px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class = "titlebox">
      <h1>Awesome Tweets</h1>
    </div>

    <%- include('partials/footer') %>
